<header class="col-md-12 text-center well pageHeader">
  <h1>Scraping With Mongoose and Cheerio</h1>
</header>

<div class="container ">
  <div class="row col-md-12">

      <div class="col-md-6" id="articlesDiv">
        <h1 class="text-center rowText">Mongoose Scraper</h1>
        <h2><i>Here is a list of your scraped articles.</i></h2>
        <div id="articles"></div>
      </div>

      <div class="col-md-6 text-center" id="notesDiv">
        <h3 class="text-center rowText">Notes</h3>
        <h4 class="text-center smallText">Click a title to to access the notes.</h4>
        <div id="notes"></div>
      </div>
  </div>
</div>
